doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title #{title} | #{subtitle}
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Permanent+Marker&text=#{title}")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:300&subset=latin")
    link(rel="stylesheet", href="default.css")
    link(rel="shortcut icon", href="favicon.png")
  body
    header
      .container
        .lead
          h1 #{title}
          .subtitle #{subtitle}
    nav
      ul#quovadis
        - each item in navigation
          li
            a(href=item.href) #{item.name}
    .down
      a(href="#fin", data-scroll) &#x25BC;
    .shade
    #fin
    script(src="app.js")
    script(defer, src='//static.cloudflareinsights.com/beacon.min.js', data-cf-beacon='{"token":"275df1f098eb41fc86be8fd31cfa57aa"}')
